<?xml version="1.0"?>
<config>
    <modules>
        <PayItSimple_Payment>
            <version>2.2.2</version>
        </PayItSimple_Payment>
    </modules>
    <frontend>
        <routers>
            <payitsimple>
                <use>standard</use>
                <args>
                    <module>PayItSimple_Payment</module>
                    <frontName>payitsimple</frontName>
                </args>
            </payitsimple>
        </routers>
        <layout>
            <updates>
                <payitsimple>
                    <file>pis_payment.xml</file>
                </payitsimple>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <sip_payment_splitprice>
                        <type>model</type>
                        <class>pis_payment/observer</class>
                        <method>insertBlock</method>
                    </sip_payment_splitprice>
                </observers>
            </core_block_abstract_to_html_before>
            
            <payment_method_is_active>
                <observers>
                    <sip_payment_payment_method_is_active>
                        <type>singleton</type>
                        <class>pis_payment/observer</class>
                        <method>paymentMethodIsActive</method>
                    </sip_payment_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <!-- <sales_model_service_quote_submit_before>
                <observers>
                    <validateAddress_pispaymentmethod>
                        <type>singleton</type>
                        <class>pis_payment/observer</class>
                        <method>validateAddress</method>
                    </validateAddress_pispaymentmethod>
                </observers>
            </sales_model_service_quote_submit_before> -->
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <payitsimple after="Mage_Adminhtml">PayItSimple_Payment</payitsimple>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pis_notification>
                    <file>payitsimple_notification.xml</file>
                </pis_notification>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <installments_no>
                    <to_order_payment>*</to_order_payment>
                </installments_no>
            </sales_convert_quote_payment>
        </fieldsets>
        <payment>
            <cc>
                <types>
                    <UP>
                        <code>UP</code>
                        <name>Union Pay</name>
                        <order>60</order>
                    </UP>
                </types>
            </cc>
        </payment>
        <models>            
            <pis_payment>
                <class>PayItSimple_Payment_Model</class>
                <resourceModel>pis_payment_mysql4</resourceModel>
            </pis_payment>
            <pis_payment_mysql4>
                <class>PayItSimple_Payment_Model_Mysql4</class>
                <entities>
                    <pispayment>
                        <table>splitit_hosted_solution</table>
                    </pispayment>
                </entities>
            </pis_payment_mysql4>
        </models>
        <resources>
            <pis_payment_setup>
                <setup>
                    <module>PayItSimple_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pis_payment_setup>
            <pis_payment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pis_payment_write>
            <pis_payment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pis_payment_read>
        </resources>
        <events>
            <order_cancel_after>
                <observers>
                    <sip_payment_order_cancel_after_obs>
                        <type>singleton</type>
                        <class>PayItSimple_Payment_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </sip_payment_order_cancel_after_obs>
                </observers>
            </order_cancel_after>
        </events>
        <blocks>
            <pis_payment>
                <class>PayItSimple_Payment_Block</class>
            </pis_payment>
        </blocks>
        <helpers>
            <pis_payment>
                <class>PayItSimple_Payment_Helper</class>
            </pis_payment>
        </helpers>
    </global>
    <default>
        <payment>
            <pis_paymentform>
                <active>0</active>
                <model>pis_payment/pisPaymentFormMethod</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>SPLITIT 0% Interest Monthly Payments</title>
                <faq_link_enabled>1</faq_link_enabled>
                <faq_link_title>Tell me more</faq_link_title>
                <faq_link_title_url>https://s3.amazonaws.com/splitit-images-prod/learnmore/en-us/V1-USD.png</faq_link_title_url>
                <logo_src>https://s3.amazonaws.com/splitit-logos/Offical Splitit Logo.png</logo_src>
                <logo_background_href>https://s3.amazonaws.com/splitit-images-prod/learnmore/en-us/V1-USD.png</logo_background_href>
                <api_url>https://web-api.splitit.com/</api_url>
                <api_url_sandbox>https://web-api-sandbox.splitit.com/</api_url_sandbox>
                <sandbox_flag>0</sandbox_flag>
                <debug>0</debug>
                <cctypes>MC,VI</cctypes>
                <allowspecific>0</allowspecific>
                <specificcountry>US</specificcountry>
                <centinel>0</centinel>
                <useccv>1</useccv>
                <centinel_is_mode_strict>0</centinel_is_mode_strict>
                <installment_price_text>No interest</installment_price_text>
            </pis_paymentform>
        </payment>
    </default>
    <phpunit>
        <suite>
            <modules>
                <PayItSimple_Payment/>
            </modules>
        </suite>
    </phpunit>
</config>
