#main{ max-height: 530px; position: relative; z-index: 0; height:100%; }
#main .mainHeader{background:#279dd8;}
.tableResponsive{overflow:hidden; overflow-x: auto;}
#wiz-header{}
.wiz-header-left{width:45px; padding:20px;}
.wiz-header-center{text-align:center; color:#fff; font-size:14px;}
.currencySymbolIcon{font-size: 26px}
.wiz-header-right{width:45px; padding:20px;}
.form-block{float: left; vertical-align:top; width:50%;}
.form-block-area{margin:0 20px;}
.spacer15{height:15px; display:block;}
.tablePage2{width:100%;}
table.tablePage2 td{ width:50%; vertical-align: middle; }
.tablePage2TD{height:48px; border-bottom:1px dotted #56565d;}
.text-right{text-align: right;}
.form-block.right{float: right}
.important_note_sec{padding-top: 10px; padding-bottom: 5px; font-weight: bold; text-align: left;}
.pnlEula{text-align: justify; white-space: pre-wrap;}
.payment-images{display: inline-block; float:right; padding-left: 20px; }
.payment-images img{ height: auto; margin: 0 3px; width: 45px;}
.splitit-redirect{display: inline-block; background: #2E8AB8; color: #fff; padding: 6px 15px; margin-top: 5px; cursor: pointer; font-size: 12px;}
.redirect-checkbox+div.validation-advice{font-size: 0;}
.redirect-checkbox+div.validation-advice:before{ content:"Please click to pay with Splitit's secured payment."; color: #df280a; font-size: 13px; }
.terms-condition-loader{display: none; vertical-align: middle;}
.terms-conditions{ font-size: 0; }
.terms-conditions div{font-size: 0; line-height: normal;}
.terms-conditions div:before{content: 'Please approve terms and conditions.'; color: #df280a; font-size: 13px; margin: 10px 0 5px; display: block; }
#opc-payment{position: relative;}
#payment-tool-tip{position:absolute;top: 220px!important; right: -75px;}
#payment-tool-tip img{max-width:100%;}
.splitit-checkout-url{  float: left; margin-left: 0; margin-right: 10px; margin-bottom: 0;    background: #3399cc; color: #ffffff!important; text-decoration: none!important;padding: 7px 15px; text-transform: uppercase;display: inline-block; min-width: 140px;
    text-align: center; font-weight: normal; line-height: 19px; font-size: 13px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 900px) {
    .form-block{width:100%;}
    .popupContentTable{min-width: 580px;}
    .popup-content{overflow-y: auto; text-align: initial;}
    #payment-schedule{position: relative; width: 100%;}
    #payment-tool-tip {position: absolute; top: 220px!important; right: -200px; width: 100%; background: white; padding: 5px;}

}
@media only screen and (max-width: 767px) {
    #payment-tool-tip {right: 0;}
}
.logoWidthSrc{ height: 20px !important; display: inline-block !important; margin-bottom: -5px !important;}
img.logoWidthSrc-helplog {    display: inline-block;    width: 15px;    vertical-align: middle;    margin-bottom: 4px;    margin-left: 2px;}
.product-options-bottom span.ins-text {    display: none; }
